<footer class="my-2">
    <ul class="nav justify-content-center">
        <li class="nav-item" style="padding: 0px 20px; font-size: 20px;">
            <a href="https://www.linkedin.com/in/tolu-alimi-1a54161a1/" target="_blank">
                <i id="linkedin" class="fab fa-linkedin" style="color:white;"></i>
            </a>
        </li>

        <li class="nav-item" style="padding: 0px 20px; font-size: 20px;">
            <a href="https://github.com/ta05" target="_blank">
                <i id="github" class="fab fa-github" style="color:white;"></i>
            </a>
        </li>
    </ul>
</footer>