{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" style="padding: 10px;">
    <div class="col-md-3">
        <div id="profile-wrapper" class="card card-body h-100" style="text-align: center;">
            <img class="card-img-top" id="myimage" src="{% static '/images/Tolu-2012.jpg' %}" alt="Tolu" style="border: 2px solid rgba(255, 255, 255, 0.45); max-width: 90%; border-radius: 50%; margin-left: auto; margin-right: auto;">
            <h2>Tolu Alimi</h2>
        </div>
    </div>
    <div class="col-md-9">
        <div id="about-me" class="card card-body h-100">
            <h2>About Me</h2>
            <p>
                I am a software engineer in the fintech industry and Stanford graduate certified in full stack development by the University of Texas. 
                I work as a backend engineer in the fintech industry. On the side, I build websites and tutor coding. I also teach test prep for college entrance exams and do general tutoring.
            </p>
            <p>
                If you would like to learn more about my tutoring programs or discuss a website you need, feel free to <a class="inline-link" href="/contact">contact</a> me.
            </p>
            <p>
                Please peruse the rest of the site to view my portfolio.
            </p>
        </div>
        
    </div>
</div>
{% endblock %}