{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if project_list %}
    <div class="row" style="padding: 10px;">
        {% for project in project_list %}
        <div class="col-md-3">
            <div class="card" style="text-align: center; border: 2px solid rgba(255, 255, 255, 0.45);">
                <img class="card-img-top" src='{% static project.imagePath %}'>
                <div class="card-body">
                    <h2 class="project-title" style="font-size:medium;">{{ project.title }}</h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}