{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if project_list %}
    <div class="row" style="padding: 10px;">
        {% for project in project_list %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card mb-3" style="text-align: center; border: 2px solid rgba(255, 255, 255, 0.45);">
                <a href="{% url 'portfolio:project' project.id %}">
                    <img class="card-img-top" src='{% static project.imagePath %}' alt="{{project.imageAlt}}">
                </a>
                <div class="card-body">
                    <a href="{% url 'portfolio:project' project.id %}">
                        <h2 class="project-title" style="color: black; font-size:medium;">{{ project.title }}</h2>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}