{% extends 'base.html' %}

{% block content %}
<div class="row" style="padding: 10px;">
    <div class="col-md-10 offset-md-1">
        <div class="card" style="padding: 12px; text-align: left; border: 2px solid rgba(255, 255, 255, 0.45);">
                <form method="post">
                    {% csrf_token %}

                <div class="form-row">

                <div class="form-group col-sm-6">
                    <label for="Senders-Email">Email</label>
                    {{form.email}}
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-sm-6">
                    <label for="Subject">Subject</label>
                    {{form.subject}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm">
                    <label for="Message">Message</label>
                    {{form.message}}
                </div>
            </div>

            <div class="form-actions">
                    <button class="offset-sm-10 col-sm-2" type="submit">Send</button>
                    </div>

                </form>
        </div>
    </div>
</div>
{% endblock %}