{% extends 'base.html' %}

{% block content %}
<div class="row" style="padding: 10px;">
    <div class="col-md-10 offset-md-1">
        <div class="card" style="text-align: center; border: 2px solid rgba(255, 255, 255, 0.45);">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions">
                    <button type="submit">Send</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}